{% extends "base.html" %}

{% block content %}

<h1 class="title has-text-centered has-text-dark">
  Welcome, {{ name|capitalize }}!
</h1>
<div class="columns is-centered">
  <div class="column is-7">
    <div class="box has-background-dark has-text-centered">
      <h2 class="title has-text-centered is-size-3 has-text-white">YOUR HOMEWORKS:</h2>
      
      <!-- Display each todo item in its own row -->
      {% if api_data %}
        {% for todo in api_data %}
          <div class="box todo-item {% if todo.completed %}completed-task{% endif %} is-small" style="margin-bottom: 10px; padding: 10px; display: flex; align-items: center;">
            <input type="checkbox" id="todo_{{ loop.index }}" {% if todo.completed %} checked {% endif %} style="width: 20px; height: 20px; margin-right: 10px; color: #000;">
            <label for="todo_{{ loop.index }}" style="font-size: 17px; {% if todo.completed %}text-decoration: line-through; color: #aaa;{% endif %} margin-right: 10px;"> <!-- added inline styling -->
              {{ todo.title }}
            </label>
          </div>
        {% endfor %}
      {% else %}
        <p>No API data available</p>
      {% endif %}
    </div>
  </div>
</div>

<script>
  // JavaScript code to mark checkboxes as completed
  document.addEventListener("DOMContentLoaded", function() {
    var checkboxes = document.querySelectorAll('input[type="checkbox"]');
    checkboxes.forEach(function(checkbox) {
      checkbox.addEventListener("change", function() {
        var labelText = this.nextElementSibling;
        if (this.checked) {
          labelText.style.textDecoration = 'line-through';
          labelText.style.color = '#aaa';
        } else {
          labelText.style.textDecoration = 'none';
          labelText.style.color = '#000'; // Change color to black when unchecked
        }
      });
    });
  });
</script>

{% endblock %}
